%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  :javascript
    function searchUser() {
      var profileUser = document.getElementById("searchText");
      console.log("Hello");
      console.log(profileUser.value);
      window.location.href = "/profile/"+profileUser.value;
      /window.location.history.push("/profile/f");
      }
  .container-fluid
    %a.navbar-brand{:href => "/feed"}
      %img.d-inline-block.aligSn-text-top{:alt => "", :height => "24", :src => "https://cdn-icons-png.flaticon.com/512/1012/1012600.png", :width => "30"}
      tDUCK
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %form.d-flex.me-2 
          %input.form-control.w-75.me-2#searchText{"aria-label" => "Search", :placeholder => "Search for user", :type => "search"}/
          %button.btn.btn-outline-success{:onclick => "searchUser()",:type => "submit"} Search
      .d-flex.justify-content-end
        %a.btn.btn-info.me-2{:href => "/new_post"}  Post
        %a.btn.btn-outline-secondary{:href => main_path}  Logout

%br
%br